<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.funi.muyq.springbootangular.mapper.UserMapper">
    <insert id="saveUser">
        INSERT into USERS (id, uid, psw) values (#{id}, uid, psw)
    </insert>

    <select id="selectAllUsers" resultType="com.funi.muyq.springbootangular.entity.User">
        select *
        from USERS
    </select>
</mapper>